{% extends 'news/base.html' %}
{% load static %}
{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="error_page">
                    <h3>Kechirasiz! Hech narsa topilmadi!</h3>
                    <h1>404</h1>
                    <p>
                        Afsuski, siz qidirayotgan sahifa topilmadi. U vaqtincha mavjud bo'lmasligi, boshqa joyga
                        ko'chirilishi yoki mavjud bo'lmasligi mumkin
                    </p>
                    <span></span> <a class="wow fadeInLeftBig" href="{% url 'home-page' %}">Bosh sahifaga qaytish</a></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>Mashxur</span></h2>
                    <ul class="spost_nav">
                        {% for news in news_list %}
                        <li>
                            <div class="media wow fadeInDown">
                                <a class="media-left" href="{{ news.get_absolute_url }}">
                                    <img alt="" src="{{ news.image.url }}">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="{{ news.get_absolute_url }}">
                                        {{ news.title }}
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock content %}