{% extends 'news/base.html' %}
{% load static %}
{% block title %}
<title>Biz haqimizda</title>
{% endblock title %}
{% block content %}
<div class="fashion_technology_area">
    <div class="single_post_content">
        <h2>Sayt haqida</h2>
        <ul class="business_catgnav wow fadeInDown" style="padding: 24px 32px">
            <p>
                Sayt haqida
                O‘zbekiston davlat mustaqilligiga erishgach, turli ijtimoiy sohalarda bo‘lgani kabi ommaviy axborot
                vositalari sohasida ham yangi davr boshlandi. Respublika jurnalistikasi yangi bosqichga qadam qo‘ydi.
                Davriy matbuotning shakllanishi va rivojlanishi uchun keng shart-sharoit, imkoniyat yaratildi.
                Mamlakatdagi ijtimoiy-siyosiy, iqtisodiy islohotlar natijasida yangi-yangi nashrlar ta’sis etildi.
                Natijada o‘nlab yangi nashrlar o‘zbek matbuoti olamida paydo bo‘la boshladi. Ana shunday gazetalardan
                biri O‘zbekiston Aloqa vazirligi nashri sifatida «Xabar» gazetasining birinchi soni 1992 yil 21 mart –
                Navro‘z bayrami kuni chop etildi.
                <br><br>
                Bugungi internet tarmog‘i rivojlangan davrda gazetalar uchun o‘z mavqeyini saqlab qolish oson
                bo‘lmayapti. Shunga qaramasdan gazetalar shu jumladan, «Xabar» gazetasi ham –o‘z o‘quvchilariga ega
                bo‘lib kelmoqda.
                <br><br>
                «Xabar» gazetasi haqida qisqacha ma’lumotlar:
                <br><br>
                «Xabar» gazetasi O‘zbekiston Respublikasi Aloqa vazirligining 1991 yil 25 dekabrdagi 172-sonli buyrug‘i
                asosida tashkil qilingan.
                <br><br>
                «Xabar» gazetasining birinchi soni 1992 yil 21 mart kuni bosmadan chiqdi.
                <br><br>
                2001 yil 1 iyundan gazeta tahririyatning o‘z kompyuter bazasida terilib, sahifalana boshlandi.
                <br><br>
                2002 yil iyun oyida gazeta o‘z elektron pochtasiga ega bo‘ldi.
                <br><br>
                2003 yilning 27 iyunidan gazeta 8 sahifada chop qilina boshlandi.
                <br><br>
                2003 yili gazetaning veb-sayti yaratilib ishga tushirildi.
                <br><br>
                2005 yil 4 martdan gazeta rangli chiqa boshladi.
                <br><br>
                2006 yil 6 yanvardan gazeta 16 sahifada, o‘zbek va rus tillarida, 1 va 16 sahifalar rangli chop etiladi.
                <br><br>
                Gazetaning barcha viloyatlarda o‘z muxbirlari faoliyat ko‘rsatmoqda.
                <br><br>
                Tahririyat o‘z muassisligida «Xabar.uz» axborot-tahliliy portalini 2017 yilning 20 dekabrida test
                rejimida ishga tushirildi.
                <br><br>
                2017 yilning 27 dekabrida elektron OAV sifatida 156697 Guvohnoma raqami bilan ro‘yxatidan o‘tkazilgan.
                <br><br>
                Internet sayt sahifalarining kunlik ko‘rilishi soni 100 mingdan oshgan.
                <br><br>
                «Xabar.uz»ning o‘zbek, rus va lotin alifbosidagi telegram kanallarida jami 100 mingdan ziyod
                obunachilari bor. Shuningdek, Facebook (29 mingdan ortiq a’zo), Odnoklassniki, Twitter, Youtube,
                Instagram (200 mingdan ziyod a’zo) kabi ijtimoiy tarmoqlarida ham auditoriyasi mavjud.
                <br><br>
                «Xabar.uz» saytining ijtimoiy tarmoqlardagi sahifalari bilan birgalikdagi jami har kunlik auditoriyasi
                300 ming kishidan ziyod. Bir oy davomida saytga o‘rtacha 3 mln. kishi tashrif buyuradi. Respublikamizdan
                tashqari yana Qirg‘iziston, Qozog‘iston, Tojikiston va Rossiya va boshqa MDH davlatlari, shuningdek,
                AQSh, Xitoy, Janubiy Koreya, Yevropa mamlakatlarida ham doimiy o‘quvchilari mavjud.
                <br><br>
                Faoliyatingizga oid xabarlar, tadbirlarning press-relizlarini quyidagi elektron pochtaga yuboring:
                info@xabar.uz
                <br><br>
                Reklama yoki hamkorlik takliflarini esa quyidagi elektron pochtaga yuboring:
                reklama@xabar.uz yoki (+99891) 166-86-30 ga qo‘ng‘iroq qiling.
            </p>
        </ul>
    </div>
</div>
{% endblock content %}