{% extends 'news/base.html' %}
{% load static %}
{% block title %} <title>Aloqa</title> {% endblock title %}
{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="contact_area">
                    <h2>Biz bilan aloqa</h2>
                    <p>
                        Saytda biror nosozlik yoki imloviy xatolar ko'rsangiz, yoki biz bilan ishlamoqch, shaxsiy fikral
                        bermoqchi bo'lsangiz quyidagi maydonlarni to'dirib jo'natish tugmasini bosing biz uchun sizning
                        fikringiz qiziq!
                    </p>

                    <form action="#" class="contact_form" method="post">
                        {% csrf_token %}
                        <input class="form-control" name="name" placeholder="Name*" type="text">
                        <input class="form-control" name="email" placeholder="Email*" type="email">
                        <textarea class="form-control" cols="30" name="message" placeholder="Message*"
                                  rows="10"></textarea>
                        <input type="submit" value="Xabar jo'natish">
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>Mashxur</span></h2>
                    <ul class="spost_nav">
                        {% for news in latest_news %}
                        <li>
                            <div class="media wow fadeInDown">
                                <a class="media-left" href="{{ news.get_absolute_url }}">
                                    <img alt="" src="{{ news.image.url }}">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="single_page.html">
                                        {{ news.title }}
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock content %}